project:
  type: website
  resources:
    - password-protect.html
    - auth-check.js

website:
  page-navigation: true
  back-to-top-navigation: true
  title: "NASA Disasters Documentation"
  site-url: "https://us-ghg-center.github.io/ghgc-docs" #should I change these
  repo-url: https://github.com/us-ghg-center/ghgc-docs  
  repo-actions: [edit, issue]

  page-footer:
    right: "This page is built with [Quarto](https://quarto.org/)."
    left: "&copy; CC-By US GHG Center, 2022-2023"  #how should I change this

  sidebar:
    logo: "logo/disasters_logo.png"
    pinned: true
    align: center
    tools:
      # - icon: info-circle
      #   href: https://www.earthdata.nasa.gov/esds/veda
      #   text: "earthdata.nasa.gov/esds/veda"
      - icon: globe-americas
        href: https://disasters.openveda.cloud/
        text: "NASA Disasters Portal"
      - icon: github
        href: https://github.com/Disasters-Learning-Portal
        text: "Repository home"

    style: "docked"
    search: true
    collapse-level: 1
    contents:
      - href: index.qmd
        text: Welcome
      - section: aws.qmd
        text: AWS
        contents:
          - AWS/AWS_SSO_Setup_Guide.qmd
          - AWS/AWS_SSO_Remote_Server.qmd
          - AWS/aws-mfa-setup.qmd
          - AWS/aws-s3-commands-guide.qmd
      - section: git-github-comprehensive-guide.qmd
        text: GitHub
        contents:
          - text: "The VEDA Project"
            href: GitHub/veda-preview.qmd
          - GitHub/setup.qmd
          - GitHub/commands.qmd
          - GitHub/resources.qmd
      - section: jupyterhub.qmd
        text: JupyterHub
        contents:
          - Jupyterhub/jupyterhub-training-guide.qmd
          - Jupyterhub/setup-disaster-repo.qmd
          - Jupyterhub/convert_to_geotiff.qmd
          - Jupyterhub/simple_disaster_template.ipynb
      -  section: workflow2.qmd
         text: Data Workflow Diagrams
         contents:
          - data_workflow2/NRT_data_download.qmd
          - data_workflow2/NRT_directory_structure.qmd
      - section: Documentation
        contents:
          - text: "Quarto Guide for Beginners"
            href: quarto-guide.qmd
      - section: User Services
        contents:
          - services/apis.qmd
          - services/jupyterhub.qmd
      - section: Presentations
        contents:
          - section: PowerPoints
            contents:
              - text: "Disasters Logo and Template Overview"
                href: Presentations/disasters-powerpoint-template.qmd
              - text: "AWS and Grafana Monitoring Tutorial"
                href: Presentations/aws-grafana-tutorial.qmd
              - text: "JupyterHub and Data Conversions Tutorial"
                href: Presentations/jupyterhub-data-conversions-tutorial.qmd
              - text: "STAC Database and Apache Airflow Tutorial"
                href: Presentations/stac-airflow-tutorial.qmd
      - section: datausage.qmd
        text: Disaster Case Studies
        contents:
          - text: "Texas Flood 2025"
            href: user_data_notebooks/Texas_Flood_2025.ipynb
          - text: "New Mexico Fire 2025"
            href: user_data_notebooks/New_Mexico_Fire_2025.ipynb
  
format:
  html:
    grid:
      sidebar-width: 25vw
      body-width: 900px
    theme:
      light: [flatly]
      dark: [darkly]
    css: styles.css
    code-copy: true
    code-overflow: wrap
    toc: true
    toc-depth: 3
    include-in-header:
      - text: |
          <script src="auth-check.js"></script>
filters:
  - quarto
